<div class="row" style="width:101%;border-bottom: 1px solid black;background-color:#02aef0">
	<div class="col-md-2">
	</div>
	<div class="col-md-3">
    <div class="logo">
      <a href="/" title="home"><img src="/images/gem_logo.png"></a>
    </div>
  </div>
  <div class="col-md-7">
		<h1 >Vendor Rating</h1>
  </div>
</div>